<section class="comments">
    <% entry.comments.forEach(comment => { %>
        <div class="comment">
            <p class="login"><%= comment.user.login %> <span class="commentlastupdate">
    
            <%= comment.updatedAt %></span>  
            <% if (admin || comment.user.id == userId) { %>
            		:
        			<a href="/entry/<%= entry.id %>/comment/<%= comment.id %>/update">update</a>
        			|
        			<a href="/entry/<%= entry.id %>/comment/<%= comment.id %>/delete">x</a>
            <% } %></p>
            <p><%= comment.content %></p>
           
        </div>
    <% }) %>
</section>
